<div class="container app-container">
    <button class="btn btn-sm btn-primary" {{action 'exitGame'}}>
        <span class="glyphicon glyphicon-remove"></span>
        Exit Game
    </button>
</div>
